*{
    margin: 0;
    padding: 0;
    font-family: 'robotoo', sans-serif;
}

.container{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}

@import "sidebar.css";

/* content */
.content{
    width: 100%;
    box-sizing: border-box;
}

.content .profil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #6183fd;
    color: white;
    padding:10px 30px 10px 10px;
    box-sizing: border-box;
}

.content .profil img{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.data, .judul{
    padding: 10px;
    box-sizing: border-box;
}

.judul{
    display: flex;
    align-items: center;
}

.judul h2{
    border-bottom: 2px solid black;
}

.judul img{
    width: 30px;
    margin-right: 10px;
}

.panduan{
    width: 70%;
    box-sizing: border-box;
    padding: 40px;
    /* font-size: 20px; */
}

.panduan ol li{
    margin-top: 10px;
    font-size: 30px;
}

.panduan ol li:first-child{
    margin-top: 0;
}